{% extends 'base.html' %}
{% block title %}My Tasks{% endblock %}
{% block content %}
<h2>My Tasks</h2>
<table class="table">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in my_task %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.date }}</td>
            <td>{{ task.time }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
